*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
header{
    background-image: url(bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}